<?xml version="1.0"?>
<!--
/**
 * Codisto
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Codisto
 * @package     Codisto_Smartsend
 * @copyright   Copyright (c) 2012 Codisto Pty Ltd. (http://www.codisto.com.au)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
 <config>
    <modules>
        <Codisto_Smartsend>
            <version>0.1.0</version>
        </Codisto_Smartsend>
    </modules>
    <global>
        <models>
            <smartsend>
                <class>Codisto_Smartsend_Model</class>
            </smartsend>
        </models>
        <helpers>
            <smartsend>
                <class>Codisto_Smartsend_Helper</class>
            </smartsend>
        </helpers>
        <blocks>
            <smartsend>
                <class>Codisto_Smartsend_Block</class>
            </smartsend>
            <checkout>
                <rewrite>
                    <cart_shipping>Codisto_Smartsend_Block_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <smartsend_setup>
                <setup>
                    <module>Codisto_Smartsend</module>
                    <class>Codisto_Smartsend_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smartsend_setup>
            <smartsend_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smartsend_write>
            <smartsend_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smartsend_read>
        </resources>
        <events>
            <controller_front_init_routers>
                <observers>
                    <codisto_smartsend_model_observer>
                        <type>singleton</type>
                        <class>Codisto_Smartsend_Model_Observer</class>
                        <method>checkForConfigRequest</method>
                    </codisto_smartsend_model_observer>
                </observers>
            </controller_front_init_routers>
        </events>
        <sales>
            <shipping>
                <carriers>
                    <smartsend>
                        <class>Codisto_Smartsend_Model_Shipping_Carrier_Smartsend</class>
                    </smartsend>
                </carriers>
            </shipping>
        </sales>
    </global>
    <frontend>
        <translate>
            <modules>
                <Codisto_Smartsend>
                    <files>
                        <default>Codisto_Smartsend.csv</default>
                    </files>
                </Codisto_Smartsend>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Codisto_Smartsend>
                    <files>
                        <default>Codisto_Smartsend.csv</default>
                    </files>
                </Codisto_Smartsend>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <smartsend>
                <active>0</active>
                <title>Smartsend</title>
                <name>Smartsend</name>
                <corporate_client_code></corporate_client_code>
                <receipted_delivery>false</receipted_delivery>
                <taillift_booking>None</taillift_booking>
                <allowed_servicetypes>All</allowed_servicetypes>
                <showmethod>0</showmethod>
                <specificerrmsg>Smartsend is only available when shipping within Australia. Please contact us if you are having shipping issues.</specificerrmsg>
                <handling_type>F</handling_type>
                <handling_action>O</handling_action>
                <handling_fee>0</handling_fee>
                <receipteddelivery>Request receipt</receipteddelivery>
                <taillift_booking>None</taillift_booking>
                <default_package_description>Carton</default_package_description>
                <default_measurement_unit>Centimetres</default_measurement_unit>
                <default_weight_unit>Kilograms</default_weight_unit>
                <default_weight>1</default_weight>
                <default_length>1</default_length>
                <default_width>1</default_width>
                <default_height>1</default_height>
                <sort_order></sort_order>
                <debug>N</debug>
                <model>smartsend/Shipping_Carrier_Smartsend</model>
            </smartsend>
        </carriers>
    </default>
</config>