<?xml version="1.0"?>
<!--
/**
 * Codisto
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Codisto
 * @package     Codisto_Smartsend
 * @copyright   Copyright (c) 2012 Codisto Pty Ltd. (http://www.codisto.com.au)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
 <config>
    <modules>
        <Codisto_Smartsend>
            <version>0.1.0</version>
        </Codisto_Smartsend>
    </modules>
    <global>
        <models>
            <smartsend>
                <class>Codisto_Smartsend_Model</class>
            </smartsend>
        </models>
        <helpers>
            <smartsend>
                <class>Codisto_Smartsend_Helper</class>
            </smartsend>
        </helpers>
        <blocks>
            <smartsend>
                <class>Codisto_Smartsend_Block</class>
            </smartsend>
            <checkout>
                <rewrite>
                    <cart_shipping>Codisto_Smartsend_Block_Cart_Shipping</cart_shipping>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <smartsend_setup>
                <setup>
                    <module>Codisto_Smartsend</module>
                </setup>
            </smartsend_setup>
        </resources>
        <sales>
            <shipping>
                <carriers>
                    <smartsend>
                        <class>Codisto_Smartsend_Model_Shipping_Carrier_Smartsend</class>
                    </smartsend>
                </carriers>
            </shipping>
        </sales>
    </global>
    <frontend>
        <translate>
            <modules>
                <Codisto_Smartsend>
                    <files>
                        <default>Codisto_Smartsend.csv</default>
                    </files>
                </Codisto_Smartsend>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Codisto_Smartsend>
                    <files>
                        <default>Codisto_Smartsend.csv</default>
                    </files>
                </Codisto_Smartsend>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <carriers>
            <smartsend>
                <active>0</active>
                <title>Smartsend</title>
                <name>Smartsend</name>
                <corporate_client_code></corporate_client_code>
                <receipted_delivery>false</receipted_delivery>
                <taillift_booking>None</taillift_booking>
                <allowed_servicetypes>All</allowed_servicetypes>
                <specificerrmsg>Smartsend is only available when shipping within Australia. Please contact us if you are having shipping issues.</specificerrmsg>
                <default_length>0</default_length>
                <default_width>0</default_width>
                <default_height>0</default_height>
                <model>smartsend/Shipping_Carrier_Smartsend</model>
            </smartsend>
        </carriers>
    </default>
</config>