<?xml version="1.0"?>
<config>
    <modules>
        <Smartsend_Australia>
            <version>0.1.0</version>
        </Smartsend_Australia>
	</modules>
	<frontend>
        <routers>
            <australia>
                <use>standard</use>
                <args>
                    <module>Smartsend_Australia</module>
                    <frontName>australia</frontName>
                </args>
            </australia>
        </routers>
        <layout>
            <updates>
                <australia>
                    <file>australia.xml</file>
                </australia>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <australia>
                <class>Smartsend_Australia_Model</class>
                <resourceModel>australia_mysql4</resourceModel>
            </australia>
            <australia_mysql4>
                <class>Smartsend_Australia_Model_Mysql4</class>
                <entities>
                    <australia>
                        <table>australia</table>
                    </australia>
                </entities>
            </australia_mysql4>
        </models>
        <resources>
            <australia_setup>
                <setup>
                    <module>Smartsend_Australia</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </australia_setup>
            <australia_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </australia_write>
            <australia_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </australia_read>
        </resources>
        <blocks>
            <australia>
                <class>Smartsend_Australia_Block</class>
            </australia>
        </blocks>
        <helpers>
            <australia>
                <class>Smartsend_Australia_Helper</class>
            </australia>
        </helpers>
    </global>
	<default>
        <carriers>
			<smartsend>
					<active>1</active>
					<model>australia/carrier_smartsend</model>
					<name>Smartsend</name>
					<title>Smartsend</title>					<country_code>AU</country_code>					<receipted_delivery>false</receipted_delivery>										<specificerrmsg>This australiaping method is currently unavailable. If you would like to australia using this shipping method, please contact us.</specificerrmsg>
			</smartsend>
		</carriers>
    </default>
</config>